* { box-sizing: border-box; }

body { font-family: sans-serif; }

.scene {
  width: 100vw;
  height: 95vh;
  perspective: 100%;
}

.cube {
  width: 100vw;
  height: 95vh;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1.5s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 100vw;
  height: 95vh;
  font-weight: bold;
  color: blue;
  text-align: center;
}

.cube__face--front  { background: black; }
.cube__face--right  { background: black; }
.cube__face--back   { background: black; }
.cube__face--bottom { background: black; }

.cube__face--front  { transform: rotateY(  0deg) translateZ(50vw); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(50vw); }
.cube__face--back   { transform: rotateY(180deg) translateZ(50vw); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(50vw); }


label {
  margin-right: 30px;
}

.radio-group{
  background-color: black;
}

.btn-hide{
  opacity: 0;
  width: 45px;
}

.dot{
  border-radius: 100%;
  border-width: thick;
  display: inline-block;
  position: absolute;
  line-height: 0;
}

.dot:hover{
  background-color: blue;
}

.dot-one{
  background-color: green;
  top: 20%;
  right: 2%;
}

.dot-two{
  background-color: red;
  top: 35%;
  right: 2%;
}

.dot-three{
  background-color: red;
  top: 50%;
  right: 2%;
}

.dot-four{
  background-color: red;
  top: 65%;
  right: 2%;
}

.page-one-h1{
  font-size: 7vw;
  font-family: "Fascinate Inline";
  padding-top: 5%;
}

.banner{
  display: inline-block;
  font-family: "Great Vibes";
  font-size: 3vw;
  position: absolute;
  transform: rotateZ(-45deg);
  top: 10%;
  left: 0;
}
.footer-banner{
  display:inline-block;
  position: absolute;
  bottom: 0;
  left: 2%;
}
